{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'temperature/style2.css' %}"/>

<html>
<head>
<title>project</title>

<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="/css/main-style.css" rel="stylesheet" type="text/css" />
<link href="/css/mobile-tablet-style.css" rel="stylesheet"
media="only screen and (min-width: 0px) and (max-width: 999px)" />


<style>
   
</style>

</head>

<body bgcolor=>

<div style="position:fixed;width:100%;z-index:1;top:0;">
<div>   


<!--<header class="css-display-container css-content css-wide";style="max-width:100%">
-->
 <ul class="shivani css-wide" style="width:100%;padding-top:10px;padding-bottom:10px;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 20px 10px 0 rgba(0,0,0,0.12);margin-bottom:100px">
 <li class="navigationspace">
 <blockquote> <blockquote> <blockquote> <blockquote> <blockquote>  <blockquote> <a href="index.html">&emsp;&emsp;&emsp;&emsp;Home&emsp;&emsp;&emsp;&emsp;</a>
   <a href="micro.html">Microclimate&emsp;&emsp;</a>
  <a href="temp.html">Macroclimate</a>
  <!--<a href="#4">Temperature&emsp;</a>
 
  <a href="#5">Humidity&emsp;</a>
 <!-- <a href="#6">#####&emsp;</a> -->
   </blockquote> </blockquote> </blockquote> </blockquote> </blockquote>  </blockquote> </blockquote> </blockquote> </blockquote>
  </li>
</ul>
   
</div>
</div>
<!-- HTML -->

<!--<br><br><br><br><br><br><br><br><blockquote><div id="image1"></div></blockquote>-->

        
        <!--<br><br><b><br><br><br><br><br><br><blockquote><blockquote><blockquote><a href="soil.html"><div id="image1"></div></a></blockquote><blockquote></blockquote>
        <a href="rain.html"><div id="image2"></div></a>
        <!--<center><div id="image3"></div></center>

  
</div>-->


<br><br> <br> <br> <br> <br> <br> <br> <br>  <center><h1>Soil Moisture:<br>{{soil}} </h2></center></h1>



</body>
  
   
</body>
</html>



